.section-heading h2 {
    font-weight: bolder;
    text-decoration: underline;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-btn {
    display: inline-block;
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    padding: 0.5rem 0.8rem;
    margin-top: .5rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.15s ease-out;
    font-size: var(--body-font-size);
    border-radius: 5px;
}
.link-btn:hover {
    background: rgba(40,75,99,.05); 
    border-radius: 3px;
}

@media only screen and (max-width: 768px) {
    .blog-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 515px) {
    .blog-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}