.section-heading {
    position: relative;
}
.section-heading h1 {
    font-size: var(--subheading-font-size);
}
.section-heading hr {
    background: var(--secondary-color);
    position: absolute;
    width: 15%;
    bottom: -10%;
    left: -2%;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}

.blog-card {
    height: 35vh;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 0 1rem;
    position: relative;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.blog-card:hover {
    transform: scale(1.01);
    background-color: #FFFFFF;
    border-color: rgba(0,0,0,.1);
}
.blog-card h6 {
    font-size: 1.1rem;
    margin: 0.8rem 0;
}
.blog-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--body-font-size);
    color: #4e4e4e;
}
.blog-card .post-author {
    font-size: 0.7rem;
    position: absolute;
    bottom: 0%;
    right: 5%;
    transform: translate(-5%, -0%);
    color: #929292;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-btn {
    display: inline-block;
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    padding: 0.5rem 0.8rem;
    margin-top: .5rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.15s ease-out;
    font-size: var(--body-font-size);
    border-radius: 5px;
}
.link-btn:hover {
    background: rgba(40,75,99,.05); 
    border-radius: 3px;
}