.section-heading {
    position: relative;
}
.section-heading h1 {
    font-size: var(--subheading-font-size);
}
.section-heading hr {
    background: var(--secondary-color);
    position: absolute;
    width: 15%;
    bottom: -10%;
    left: -2%;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-btn {
    display: inline-block;
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    padding: 0.5rem 0.8rem;
    margin-top: .5rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.15s ease-out;
    font-size: var(--body-font-size);
    border-radius: 5px;
}
.link-btn:hover {
    background: rgba(40,75,99,.05); 
    border-radius: 3px;
}