footer {
    background-color: #284B63;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}
.left-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 3em;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper {
    background-color: #FCFCFC;
    border-radius: 5px;
    padding: .25em;
}
.logo-wrapper img {
    display: block;
    margin: auto;
    width: 100%;
}
.footer-links {
    background: inherit;
    list-style: none;
}
.footer-links a {
    font-size: 12px;
    color: #FCFCFC;
    transition: all 0.15s ease-out;
}
.footer-links a:hover {
    color: #8ad0ff;
}
.left-links p {
    font-size: 10px;
    margin-bottom: 1em;
    color: #FCFCFC;
    align-self: flex-end;
}
/*Phone Size - Smaller text and box size*/
@media only screen and (max-width: 768px){
    .left-links {
        display: inline;
        margin: 0 auto;
    }
    .links {
        width: 60%;
        margin: 0 auto;
    }
    .left-links p i {
        margin-left: 1em;
        font-size: 0.7rem;
    }
    .logo-wrapper img {
        width: 80%;
    }
}