.no-content {
    margin: 1rem auto;
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.specific-blog-container {
    width: 75%;
    margin: auto;
    background-color: #FEFEFE;
    padding: .25rem 0 .25rem 1rem ;
    position: relative;
    min-height: 80vh;
    transition: width 0.15s ease-out;
}
.comments-btn {
    position: fixed;
    right: 3%;
    margin-right: 1rem;
    top: 50%;
    transform: translate(3%, -50%);
    padding: 0.4rem 1rem;
}
.comments-on {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.post {
    flex-grow: 3;
}
.post-heading {
    padding: 0 1rem;
    position: relative;
}
.post-heading h1 {
    font-size: var(--heading-font-size);
}
.post-heading :is(.post-author, .post-date) {
    font-size: var(--small-font-size);
    color: var(--greyed-out-color);
}
.post-image {
    width: 90%;
    margin: auto;
}
.img-relative {
    position: absolute;
    width: 50%;
    top: 100%;
    left: 0;
    transform: translate(-0%, -100%);
    padding: .5rem 1rem;
    margin-top: 1rem;
    background-color: #FEFEFE;
}
.post-desc {
    background-color: #fcfcfc;
}
.post-desc p {
    text-align: center;
    color: var(--greyed-out-color);
}
.post-body {
    padding: .25rem 1rem;
}


.comments-container {
    background-color: var(--bg-color);
    width: 30%;
    position: sticky;
}
.no-comments {
    text-align: center;
    color: #646464;
}
.comment {
    margin-bottom: 1rem;
}
.comment-body {
    font-size: var(--body-font-size);
    color: #444444;
    margin-bottom: 0.1rem;
}
.comment-author {
    margin: 0;
    text-align: right;
    font-size: 14px;
    color: #555555;
}
.comment-date {
    margin-top: 0;
    text-align: right;
    font-size: var(--small-font-size);
    color: #808080;
}
.comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.comment-form-input {
    font-size: 14px;
    color: #2e2e2e;
    padding: 0;
}
.comment-form-input input[type=text] {
    padding: 0.425rem;
    align-self: center;
}
.comment-form button {
    display: inline-block;
    align-self: flex-end;
    border: 1px solid var(--primary-color);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: all 0.15s ease-in-out;
    margin-left: 0.2rem;
}
.comment-form button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}

/*Phone Size - Smaller text and box size*/
@media only screen and (max-width: 768px){
    /*Collapse Comments to the bottom of the blog post. Flex-direction*/
}