.no-content {
    margin: 1rem auto;
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.specific-blog-container {
    width: 75%;
    margin: auto;
    background-color: #FEFEFE;
    padding: .25rem 0 .25rem 1rem ;
    position: relative;
    min-height: 80vh;
    transition: width 0.15s ease-out;
}
.comments-btn {
    position: fixed;
    right: 3%;
    top: 50%;
    transform: translate(3%, -50%);
    padding: 0.4rem 1rem;
    display: inline-block;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}
.comments-btn:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-color: var(--primary-color);
}
.comments-on {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.post-heading {
    padding: 0 1rem;
    position: relative;
}
.post-heading h1 {
    font-size: var(--heading-font-size);
    margin: 0;
}
.post-heading .post-author {
    margin-top: 0.5rem;
}
.post-heading :is(.post-author, .post-date) {
    font-size: var(--small-font-size);
    color: rgb(92, 92, 92);
    margin: 0;
}
.post-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin: auto;
}
.img-relative {
    position: absolute;
    width: 95%;
    bottom: 0;
    left: 0;
    transform: translate(-0%, 30%);
    padding: .2rem 1rem;
    margin-top: 1rem;
    background-color: #FEFEFE;
    border-radius: 5px;
}
.specific-post-desc {
    background-color: #fcfcfc;
}
.specific-post-desc p {
    margin-top: 4rem;
    text-align: center;
    color: rgb(104, 104, 104);
}
.specific-post-body {
    white-space: pre-line;
    word-wrap: break-word;
    padding: .25rem 1rem;
}


.comments-container {
    background-color: #f8f8f8;
    width: 40%;
    position: sticky;
}
.no-comments {
    text-align: center;
    color: #646464;
}
.comment {
    margin-bottom: 1rem;
}
.comment-body {
    font-size: var(--body-font-size);
    color: #444444;
    margin-bottom: 0.1rem;
}
.comment-author {
    margin: 0;
    text-align: right;
    font-size: 14px;
    color: #555555;
}
.comment-date {
    margin-top: 0;
    text-align: right;
    font-size: var(--small-font-size);
    color: #808080;
}
.comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.comment-form-input {
    font-size: 14px;
    color: #2e2e2e;
    padding: 0;
}
.comment-form-input input[type=text] {
    padding: 0.425rem;
    align-self: center;
}
.comment-form button {
    display: inline-block;
    align-self: flex-end;
    border: 1px solid var(--primary-color);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: all 0.15s ease-in-out;
    margin-left: 0.2rem;
}
.comment-form button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}
.not-logged-in {
    text-align: center;
    color: rgb(180, 180, 180);
    font-size: 14px;
}

/*Phone Size - Smaller text and box size*/
@media only screen and (max-width: 768px){
    /*Collapse Comments to the bottom of the blog post. Flex-direction*/
    .comments-btn {
        display: inline-block;
        margin: .5rem 0.45rem;
        position: unset;
        width: 30%;
    }
    .comments-on {
        display: block;
        width: 75%;
    }
    .comments-container {
        position: unset;
        width: 100%;
    }
}