.header-posts {
    position: relative;
    padding: 0 5%;
}
.header-posts h2 {
    text-decoration: underline;
}
.search-box {
    width: 80%;
    margin: 1rem auto;
    position: relative;
}
.search-box input[type=text] {
    width: 94%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}
#search-results {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    background-color: #f3f3f3;
    z-index: 1;
}
#search-results ul {
    list-style: none;
    margin: 0.4rem 0;
}
#search-results li {
    padding: .5rem 0;
}
#search-results li:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}
.show-amount {
    margin-bottom: 1rem;
    padding: 0 5%; 
}
.show-amount label {
    color: #333333;
    margin-right: .5rem;
    font-size: 0.875rem;
}
.show-amount select {
    font-size: 1rem;
    padding: .1rem;
}
.post-results-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 5%;
}

.chevron {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.chevron button {
    border: none;
    background: none;
    display: block;
}
.chevron button img {
    width: 2.5rem;
    height: 2.5rem;
    padding: .725rem;
    transition: all 0.15s ease-in-out;
} 
.chevron button:hover {
    cursor: pointer;
}
.chevron button:hover img {
    background-color: #ebebeb;
}
.error-message {
    text-align: center;
}
/*Phone Size - Smaller text and box size*/
@media only screen and (max-width: 488px){
    .post-results-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}