.form-wrapper {
    height: 100vh;
    display: flex;
    position: relative;
}
.form-image-container {
    width: 45%;
}
.form-image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    filter: grayscale(95%);
    opacity: 50%;
}
.login-logo {
    position: absolute;
    margin: 1rem;
    z-index: 1;
    background-color: rgba(250, 250, 250, 0.5);
}
.right-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.container {
    width: 80%;
    position: relative;
}
.right-side h4 {
    font-size: var(--heading-font-size);
    text-align: center;
    margin-bottom: .2em;
}
.right-side hr {
    background-color: #512D38;
    width: 50%;
    margin-bottom: 1.5em;
}
.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    padding-top: 1em;
}
.form-input label {
    align-self: flex-start;
} 
.form-input input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1em;
    width: 100%;
    border: 1px solid rgba(53,53,53,.4);
    border-radius: 5px;
    background-color: #FFFFFF;
}
.form-input-2-items {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-input-2-items :first-child{
    margin-right: 1rem;
}
.form-container p {
    text-align: center;
    font-size: 12px;
}
.form-container .form-span {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
    padding: .5rem;
}
.form-container button {
    display: block;
    margin: .5em auto;
    width: 50%;
    padding: .75em;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: #FAFAFA;
    background-color: #284B63;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.form-container button:hover {
    background-color: #1d3747;
}
.empty-inputs {
    background-color: #fff1f1;
    width: 50%;
    margin: .1rem auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff8080;
}
.error-response {
    background-color: #fff6f6;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff8080;
}
.error-response h5 {
    font-size: 15px;
}
.success-modal {
    width: 90%;
    margin: auto;
    text-align: center;
    background: #00b12c;
    color: #FAFAFA;
    font-size: 18px;
    padding: 0 1rem;
    border-radius: 5px;
}
/*Phone Size - Smaller text and box size*/
@media only screen and (max-width: 768px){
    .form-wrapper {
        flex-direction: column;
        height: 100vh;
    }
    .form-image-container {
        width: 100%;
        height: 30%;
    }
    .form-image {
        height: 100%;
    }
    .right-side {
        width: 100%;
        height: 70%;
    }
    .right-side h4 {
        font-size: var(--sm-heading-font-size);
    }
    .form-container p {
        font-size: 14px;
    }
    .form-container button {
        margin-top: 1.5em;
        padding: 1rem;
    }
}